%% -*- erlang -*-
%% Starexec bj config
%%

[
  {varp,
   [
     {options,
      [
       {timeout, 1500},	      %% run at most 1500 seconds
       {seed,    12345},
       {starexec, true},
       {print, dimacs},
       {method, collect}
      ]},

     {do,
      [
       {order,[{sort,['-degree']}]},

       {satisfy, []},

       {bj,[{timeout,1000},
	    {minimize, true},
	    {iorder, 0},
	    {stumble, 0},
	    {olle, 0},
	    {stumble_olle, false},
	    {max_conflicts, 0},
	    {num_conflicts, 0},
	    {max_learned, 0},
	    {max_learned_factor, 0},
	    {restart_counter, 0},
	    {restart_interval, 0}
	   ]}
      ]}
   ]}
].
