%% -*- erlang -*-
%% Starexec default config
%%

[
  {varp,
   [
     {options,
      [
       {timeout, 1500},	      %% run at most 1500 seconds
       {seed,    12345},
       {starexec, true},
       {print, dimacs},
       {method, collect}
      ]},

     {do,
      [
       {order,[{sort,['-degree']}]},

       {satisfy, []},
       %% {prove, []},
       %% {falsify, []},
       {bt, [{max, 1} ]}
      ]}
   ]}
].
