%% -*- erlang -*-
{erl_opts, [debug_info, nowarn_export_all, fail_on_warning]}.
{yrl_opts, [{verbose,false}]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -Wall -Wextra  -Wswitch-default -Wswitch-enum -fno-common -O3"},
	    {"(.*-x86_64-.*linux)", "CFLAGS","$CFLAGS -msse3"},
	    {"(.*-i686-.*linux)", "CFLAGS","$CFLAGS -msse3"},
	    {"(.*-i386-.*linux)", "CFLAGS","$CFLAGS -msse3"},
	    {"armv7l-.*gnueabi-32", "CFLAGS", "$CFLAGS -mfloat-abi=softfp -mfpu=neon -flax-vector-conversions"},
	    {"armv7l-.*gnueabihf-32", "CFLAGS", "$CFLAGS -mfpu=neon -flax-vector-conversions"}
	    ]}.

{port_specs, [
	      {"priv/varc_nif.so", [ "c_src/varc_nif.c"]},
	      {"priv/varw_nif.so", [ "c_src/varw_nif.c"]}
	     ]}.


