%% -*- erlang -*-
{erl_opts, [debug_info, fail_on_warning]}.
{yrl_opts, [{verbose,false}]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -Wall -Wextra  -Wswitch-default -Wswitch-enum -fno-common"},
	    {"(.*-i686-.*linux)", "CFLAGS","$CFLAGS -msse2 -O3"},
	    {"(.*-i386-.*linux)", "CFLAGS","$CFLAGS -msse2 -O3"},
	    {"(.*-x86_64-.*linux)", "CFLAGS","$CFLAGS -msse2 -O3"},
	    {"(.*-arm.*linux)", "CFLAGS", "$CFLAGS -O3"},
	    {"armv7l-.*gnueabi-32", "CFLAGS", "$CFLAGS -O3 -mfloat-abi=softfp -mfpu=neon -flax-vector-conversions -D__NEON__"},
	    {"armv7l-.*gnueabihf-32", "CFLAGS", "$CFLAGS -O3 -mfpu=neon -flax-vector-conversions -D__NEON__"},
	    {"(darwin.*-64)", "CFLAGS", "$CFLAGS -O3 -arch i386 -arch x86_64"},
	    {"(darwin.*-32)", "CFLAGS", "$CFLAGS -O3"},
	    {"(darwin.*-64)", "LDFLAGS", "$LDFLAGS -arch i386 -arch x86_64"}
	    ]}.

{port_specs, [
	      {"priv/varc_nif.so", [ "c_src/varc_nif.c"]}
	     ]}.
