%% -*- erlang -*-
{erl_opts, [debug_info, nowarn_export_all, fail_on_warning]}.
{yrl_opts, [{verbose,false}]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -Wall -Wextra  -Wswitch-default -Wswitch-enum -fno-common -std=c99 -fomit-frame-pointer -O3"}
	    ]}.

{port_specs, [
	      {"priv/varc_nif.so", [ "c_src/varc_nif.c",
				     "c_src/xnif_funcs.c"
				   ]}
	     ]}.


