%% -*- erlang -*-
%% Example of plugin parameters and passes
%%


[
  {varp,
   [ 
     {options,
      [
       {timeout, 1500},	      %% run at most 1500 seconds
       {seed, 12345},
       {starexec, false},
       {print, model}
      ]},

     {do,
      [
       {order,[{sort,['-occur']}]},

       {satisfy, []},
       %% {prove, []},
       %% {falsify, []},
       
       {red,[{size, all},
	     {reduction_type, min}]},

       {dump,[{file, "dump.red"},
	      {raw, false}]},
       
       {rat,[{size, all},
	     {rat_type, both}]},

       {dump,[{file, "dump.rat"},
	      {raw, false}]},
       
       {saturate,[{level,1},
		  {timeout,0.1},     %% run at most 0.1 seconds
		  {pair, false},
		  {threshold, 0},
		  {laps, infinity}   %% fixpoint
		 ]},
       {dump,[{file, "dump.sat"},
	      {raw, false}]},
       
       {order,[{sort,['-occur']}]},  %% sort again after saturation!
       
       {bj,[{timeout,1000},
	    {minimize, true},
	    {iorder, 0},
	    {stumble, 0},
	    {olle, 0},
	    {stumble_olle, false},
	    {max_conflicts, 0},
	    {num_conflicts, 0},
	    {max_learned, 0},
	    {max_learned_factor, 0},
	    {restart_counter, 0},
	    {restart_interval, 0}
	   ]},
       {bt, [{max, 1},
	     {method, collect},
	     {partial, false}
	    ]}
      ]}
   ]}
].
